<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.me.paulriley.chucknorrisjokes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/chuck_norris_icon"
        android:label="@string/app_name"
        android:name=".ChuckNorrisJokesApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="cnjokesapp" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>
        <activity android:name=".views.personalise.PersonalisedJokeActivity"
            android:launchMode="singleTop"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.main.MainActivity" />
        </activity>
        <activity android:name=".views.endless.EndlessJokesActivity"
            android:launchMode="singleTop"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.main.MainActivity" />
        </activity>
    </application>

</manifest>